[Unit]
Description=Hashicorp Nomad
Wants=network-online.target rpm-ostree-add-hashicorp.service consul.service
After=network-online.target rpm-ostree-add-hashicorp.service consul.service
ConditionFileNotEmpty=/etc/nomad.d/nomad.hcl
ConditionPathExists=/usr/local/bin/nomad

[Service]
EnvironmentFile=-/etc/nomad.d/nomad.env
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/nomad agent -config /etc/nomad.d
KillMode=process
KillSignal=SIGINT
LimitNOFILE=65536
LimitNPROC=infinity
Restart=on-failure
RestartSec=2

StartLimitBurst = 5
StartLimitIntervalSec = 10s

TasksMax=infinity
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target
